body {background-color: rgb(136, 255, 127);}
                
h1 {color: deepskyblue; font-size: 60px; background-color: slateblue; font-family: Verdana; 
                    font-size: 300%; text-align: center; border: 5px solid black;}