h1, h2{

    text-align: center;
}

body{

    background-color: rgb(220, 220, 220);
}

.tabs{

    overflow: hidden;
    border: 5px inset black;
    background-color: #f1f1f1;

}

.tabs a{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
    font-size: 15px;
    font: bold 1em/1em Arial, sans-serif;
    text-decoration: none;
    color: black;
}